// copy me
// cp localsettings.js.tmpl localsettings.js

$$localSettings = {
    "dev": true,
    "frontendDomain":"http://localhost:8888",
    "backendDomain": "https://www.african100.com",
    "googleAnalytics": { "id": "", "domain": "" },
    "facebook": {"appId": ""}
};